<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.papyrus.infra.services.controlmode.participant" name="%extpt.participant.name" schema="schema/participant.exsd"/>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.papyrus.infra.services.controlmode.IsControlledFragmentTester"
            id="org.eclipse.papyrus.infra.services.controlmode"
            namespace="org.eclipse.papyrus.infra.services.controlmode"
            properties="isFragmentModel,isParentLoaded"
            type="org.eclipse.jface.viewers.IStructuredSelection">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.services.controlmode.participant">
      <participant
            class="org.eclipse.papyrus.infra.services.controlmode.participants.DiControlParticipant">
      </participant>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.core.service">
      <service
            classname="org.eclipse.papyrus.infra.services.controlmode.service.ControlModeService"
            id="org.eclipse.papyrus.infra.services.controlmode.service.ControlModeService"
            priority="9"
            startKind="startup">
         <dependsOn
               serviceKeyRef="org.eclipse.papyrus.infra.ui.lifecycleevents.ILifeCycleEventsProvider">
         </dependsOn>
         <dependsOn
               serviceKeyRef="org.eclipse.papyrus.infra.services.controlmode.service.IUncontrolledObjectsProvider">
         </dependsOn>
      </service>
      <serviceFactory
            classname="org.eclipse.papyrus.infra.services.controlmode.service.UncontrolledObjectsServiceFactory"
            id="org.eclipse.papyrus.infra.services.controlmode.service.IUncontrolledObjectsProvider"
            priority="1"
            startKind="startup">
      </serviceFactory>
   </extension>
     <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.papyrus.infra.services.controlmode.handler.ControlCommandHandler"
            description="%cmd.control.desc"
            id="org.eclipse.papyrus.infra.services.controlmode.createsubmodel"
            name="%cmd.control.name">
         <commandParameter
               id="org.eclipse.papyrus.infra.services.controlmode.useDialogParameter"
               name="%cmd.control.showDlg.name"
               optional="true">
            <values
                  class="org.eclipse.papyrus.infra.services.controlmode.commands.ControlModeCommandParameterValues">
            </values>
         </commandParameter>
         <commandParameter
               id="org.eclipse.papyrus.infra.services.controlmode.resourceLocation"
               name="%cmd.control.resource.name"
               optional="true">
            <values
                  class="org.eclipse.papyrus.infra.services.controlmode.commands.ResourceLocationParameterValues">
            </values>
         </commandParameter>
      </command>
      <command
            defaultHandler="org.eclipse.papyrus.infra.services.controlmode.handler.UncontrolCommandHandler"
            description="%cmd.uncontrol.desc"
            id="org.eclipse.papyrus.infra.services.controlmode.reintegratesubmodel"
            name="%cmd.uncontrol.name">
      </command>
      <command
            defaultHandler="org.eclipse.papyrus.infra.services.controlmode.internal.handler.ToggleSubmodelHandler"
            description="%cmd.submodel.desc"
            id="org.eclipse.papyrus.infra.services.controlmode.toggleSubmodelStyle"
            name="%cmd.submodel.name">
         <state
               id="org.eclipse.ui.commands.toggleState"
               class="org.eclipse.papyrus.infra.services.controlmode.internal.handler.SubmodelState">
         </state>
      </command>
   </extension>
 <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.uml.modelrepair.refactor">
         <command
               commandId="org.eclipse.papyrus.infra.services.controlmode.createsubmodel"
               icon="icons/CreateSubModel_16.png"
               label="%cmd.control.label"
               style="push"
               tooltip="%cmd.control.tip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                 <test
                       forcePluginActivation="true"
                       property="org.eclipse.papyrus.infra.services.controlmode.isFragmentModel"
                       value="false">
                 </test>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.infra.services.controlmode.reintegratesubmodel"
               icon="icons/ReintegrateSubModel_16.png"
               label="%cmd.uncontrol.label"
               style="push"
               tooltip="%cmd.uncontrol.tip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                 <and>
                    <test
                          forcePluginActivation="true"
                          property="org.eclipse.papyrus.infra.services.controlmode.isFragmentModel"
                          value="true">
                    </test>
                    <test
                          forcePluginActivation="true"
                          property="org.eclipse.papyrus.infra.services.controlmode.isParentLoaded"
                          value="true">
                    </test>
                 </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.infra.services.controlmode.toggleSubmodelStyle"
               label="%cmd.submodel.label"
               style="toggle"
               tooltip="%cmd.submodel.tip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                 <and>
                    <test
                          forcePluginActivation="true"
                          property="org.eclipse.papyrus.infra.services.controlmode.isFragmentModel"
                          value="true">
                    </test>
                    <test
                          forcePluginActivation="true"
                          property="org.eclipse.papyrus.infra.services.controlmode.isParentLoaded"
                          value="true">
                    </test>
                 </and>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="org.eclipse.papyrus.infra.services.controlmode.internal.ui.ControlledUnitLabelDecorator"
            id="org.eclipse.papyrus.infra.services.controlmode.ui.ControlledUnit"
            label="%decorator.controlmode.label"
            lightweight="true"
            state="true">
         <description>
            %decorator.controlmode.desc
         </description>
         <enablement>
            <or>
               <objectClass
                     name="org.eclipse.core.resources.IFile">
               </objectClass>
               <objectClass
                     name="org.eclipse.papyrus.infra.onefile.model.IPapyrusFile">
               </objectClass>
            </or>
         </enablement>
      </decorator>
   </extension>
</plugin>
