<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<fragment>
   <extension
         point="org.eclipse.papyrus.infra.types.core.elementTypeSetConfiguration">
      <elementTypeSet
            clientContextID="org.eclipse.papyrus.infra.services.edit.TypeContext"
            path="models/TestExpansionDiagram.elementtypesconfigurations">
      </elementTypeSet>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.sync.triggers">
      <syncTrigger
            class="org.eclipse.papyrus.infra.gmfdiag.common.sync.tests.TestSyncFixture$TestClassDiagramSyncTrigger">
      </syncTrigger>
   </extension>

</fragment>
