<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.papyrus.plugin.builder"
         name="%builder.name"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="true"
            hasNature="true"
            isConfigurable="false">
         <run
               class="org.eclipse.papyrus.toolsmiths.plugin.builder.PapyrusPluginBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="org.eclipse.papyrus.plugin.nature"
         name="%nature.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.papyrus.toolsmiths.plugin.builder.nature.PapyrusPluginNature">
         </run>
      </runtime>
      <builder
            id="org.eclipse.papyrus.plugin.builder">
      </builder>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
      <requires-nature
            id="org.eclipse.pde.PluginNature">
      </requires-nature>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.papyrus.toolsmiths.plugin.builder.nature.AddPapyrusPluginNatureHandler"
            id="org.eclipse.papyrus.toolsmiths.plugin.builder.addPapyrusNatureCommand"
            name="%command.convert.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.projectConfigure">
         <command
               commandId="org.eclipse.papyrus.toolsmiths.plugin.builder.addPapyrusNatureCommand"
               icon="icons/papyrus.png"
               label="%command.convert.label"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <not>
                  <reference
                        definitionId="org.eclipse.papyrus.toolsmiths.plugin.builder.hasPapyrusPluginNature">
                  </reference>
               </not>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.eclipse.papyrus.toolsmiths.plugin.builder.hasPapyrusPluginNature">
         <adapt
               type="org.eclipse.core.resources.IProject">
            <test
                  property="org.eclipse.core.resources.projectNature"
                  value="org.eclipse.papyrus.plugin.nature">
            </test>
         </adapt>
      </definition>
   </extension>
      <extension
            point="org.eclipse.ui.ide.markerResolution">
         <markerResolutionGenerator
               class="org.eclipse.papyrus.toolsmiths.plugin.builder.quickfix.ManifestResolutionGenerator"
               markerType="org.eclipse.papyrus.toolsmiths.plugin.builder.problem">
         </markerResolutionGenerator>
      </extension>
      <extension
            point="org.eclipse.ui.preferencePages">
         <page
               class="org.eclipse.papyrus.toolsmiths.plugin.builder.preferences.PluginBuilderPreferencePage"
               id="org.eclipse.papyrus.toolsmiths.plugin.builder.BuilderPreferencePage"
               name="%prefpage.name">
         </page>
      </extension>
      <extension
            point="org.eclipse.core.runtime.preferences">
         <initializer
               class="org.eclipse.papyrus.toolsmiths.plugin.builder.preferences.PluginBuilderPreferencesInitializer">
         </initializer>
      </extension>
   <extension
         id="problem"
         name="%problem.name"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.jdt.core.problem">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="diagnostic"
         name="%diagnostic.name"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.jdt.core.problem">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
</plugin>
