<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="target/generated-eclipse-help/properties-view-main-toc.xml"
            primary="false">
      </toc>
      <toc
            file="target/generated-eclipse-help/properties-view-toc.xml"
            primary="false">
      </toc>
      <toc
            file="target/generated-eclipse-help/properties_view_custom_dev-main-toc.xml"
            primary="false">
      </toc>
      <toc
            file="target/generated-eclipse-help/properties_view_custom_dev-toc.xml"
            primary="false">
      </toc>
   </extension>

</plugin>
