<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
 Copyright (c) 2015 Christian W. Damus and others.
 
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License 2.0
 which accompanies this distribution, and is available at
 https://www.eclipse.org/legal/epl-2.0/

 SPDX-License-Identifier: EPL-2.0
 
 Contributors:
   Christian W. Damus - Initial API and implementation
-->
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.properties.contexts">
      <context
            contextModel="model/diagrams/diagrams.ctx">
      </context>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.properties.ui.context">
      <preferencePageBinding
            context="welcome-diagrams"
            page="org.eclipse.papyrus.infra.editor.welcome.content">
      </preferencePageBinding>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.properties.environments">
      <environment
            environmentModel="model/environment.xmi">
      </environment>
   </extension>
</plugin>
