<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   
   <extension
         point="org.eclipse.ui.newWizards">
           <category
        id="org.eclipse.papyrus.examples"
        name="%wizardCategoryExamples"
        parentCategory="org.eclipse.papyrus.examples">
      </category>
      <wizard
            canFinishEarly="false"
            category="org.eclipse.ui.Examples/org.eclipse.papyrus.examples"
            class="org.eclipse.papyrus.uml.diagram.wizards.wizards.PapyrusExampleInstallerWizard"
            preferredPerspectives="org.eclipse.papyrus.infra.core.perspective"
            finalPerspective="org.eclipse.papyrus.infra.core.perspective"
            icon="src/main/resources/icons/papyrus.png"
            id="org.eclipse.papyrus.examples.user.qvto.wizard"
            name="Basic Papyrus Model Examples"
            project="true">
      </wizard>
   </extension>

      <extension point="org.eclipse.emf.common.ui.examples">
        <example
            id="org.eclipse.papyrus.examples.user.qvto"
            pageImage="src/main/resources/icons/papyrus.png"
            wizardID="org.eclipse.papyrus.examples.user.qvto.wizard">
            <projectDescriptor
                contentURI="src/main/resources/models/"
                name="User QVTO Example"
                description="Project containing a model and its associated QVTO transformation.">
            </projectDescriptor>
            <fileToOpen
                location="User QVTO Example/myQVTOTransfoExample.di">
            </fileToOpen>
        </example>
   </extension>
   
   
</plugin>
