<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.sirius.componentization">
      <component
            class="org.eclipse.papyrus.sirius.uml.diagram.profile.Activator"
            id="org.eclipse.papyrus.sirius.uml.diagram.profile"
            name="Profile Diagram">
      </component>
   </extension>

</plugin>
