<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
 Copyright (c) 2015 Christian W. Damus and others.
 
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License 2.0
 which accompanies this distribution, and is available at
 https://www.eclipse.org/legal/epl-2.0/

 SPDX-License-Identifier: EPL-2.0
 
 Contributors:
   Christian W. Damus - Initial API and implementation
-->
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.core.service">
      <service
            classname="org.eclipse.papyrus.infra.editor.welcome.internal.WelcomePageService"
            description="The Papyrus Editor&apos;s welcome page management service."
            id="org.eclipse.papyrus.infra.editor.welcome.IWelcomePageService"
            priority="50"
            startKind="startup">
         <dependsOn
               serviceKeyRef="org.eclipse.papyrus.infra.core.resource.ModelSet">
         </dependsOn>
         <dependsOn
               serviceKeyRef="org.eclipse.papyrus.infra.core.sashwindows.di.service.IPageManager">
         </dependsOn>
         <dependsOn
               serviceKeyRef="org.eclipse.papyrus.infra.ui.services.EditorLifecycleManager">
         </dependsOn>
      </service>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.ui.papyrusDiagram">
      <editorDiagram
            factoryClass="org.eclipse.papyrus.infra.editor.welcome.internal.WelcomePageFactory"
            icon="icons/full/editor16/welcome16.gif"
            order="50">
      </editorDiagram>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.papyrus.infra.editor.welcome.internal.commands.ShowWelcomePageHandler"
            description="%cmd.showWelcome.desc"
            id="org.eclipse.papyrus.infra.editor.welcome.showWelcomePage"
            name="%cmd.showWelcome.name">
      </command>
      <command
            defaultHandler="org.eclipse.papyrus.infra.editor.welcome.internal.commands.ResetWelcomePageHandler"
            description="%cmd.resetWelcome.desc"
            id="org.eclipse.papyrus.infra.editor.welcome.resetWelcomePage"
            name="%cmd.resetWelcome.name">
      </command>
      <command
            defaultHandler="org.eclipse.papyrus.infra.editor.welcome.internal.commands.SaveDefaultWelcomePageHandler"
            description="%cmd.setDefaultWelcome.desc"
            id="org.eclipse.papyrus.infra.editor.welcome.setAsDefaultWelcomePage"
            name="%cmd.setDefaultWelcome.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.papyrus.infra.core.editor.ui.tabmenu?before=additions">
         <separator
               name="welcome-group"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.papyrus.infra.core.editor.ui.tabmenu?after=welcome-group">
         <command
               commandId="org.eclipse.papyrus.infra.editor.welcome.showWelcomePage"
               style="push"
               tooltip="%cmd.showWelcome.tip">
            <visibleWhen>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.papyrus.infra.core.papyrusEditor">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.infra.editor.welcome.resetWelcomePage"
               style="push"
               tooltip="%cmd.resetWelcome.tip">
            <visibleWhen checkEnabled="true"/>
         </command>
         <command
               commandId="org.eclipse.papyrus.infra.editor.welcome.setAsDefaultWelcomePage"
               style="push"
               tooltip="%cmd.setDefaultWelcome.tip">
            <visibleWhen checkEnabled="true"/>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.papyrus.infra.core.commands.dropdowncommand?before=additions">
         <separator
               name="welcome-group"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.papyrus.infra.core.commands.dropdowncommand?after=welcome-group">
         <command
               commandId="org.eclipse.papyrus.infra.editor.welcome.showWelcomePage"
               style="push"
               tooltip="%cmd.showWelcome.tip">
            <visibleWhen>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.papyrus.infra.core.papyrusEditor">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.infra.editor.welcome.resetWelcomePage"
               style="push"
               tooltip="%cmd.resetWelcome.tip">
            <visibleWhen checkEnabled="true"/>
         </command>
         <command
               commandId="org.eclipse.papyrus.infra.editor.welcome.setAsDefaultWelcomePage"
               style="push"
               tooltip="%cmd.setDefaultWelcome.tip">
            <visibleWhen checkEnabled="true"/>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.papyrus.infra.editor.welcome.Welcome"
            class="org.eclipse.papyrus.infra.editor.welcome.internal.WelcomeAdapterFactory">
         <adapter
               type="org.eclipse.papyrus.infra.core.sasheditor.di.contentprovider.IOpenable">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.papyrus.infra.core.sasheditor.preferences.generalcategory"
            class="org.eclipse.papyrus.infra.editor.welcome.internal.preferences.WelcomeContentPreferencePage"
            id="org.eclipse.papyrus.infra.editor.welcome.content"
            name="%prefpage.welcome.name">
      </page>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated welcome -->
      <package
            uri="http://www.eclipse.org/Papyrus/2015/editor/welcome"
            class="org.eclipse.papyrus.infra.editor.welcome.WelcomePackage"
            genModel="model/welcome.genmodel"/>
   </extension>

</plugin>
