<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.sirius.componentization">
      <component
            class="org.eclipse.papyrus.sirius.uml.diagram.usecase.Activator"
            id="org.eclipse.papyrus.sirius.uml.diagram.usecase"
            name="Use Case Diagram">
      </component>
   </extension>
</plugin>
