<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="target/site/generated-eclipse-help/expressions-userDoc-main-toc.xml"
            primary="false">
      </toc>
      <toc
            file="target/site/generated-eclipse-help/expressionsUserDoc-toc.xml"
            primary="false">
      </toc>
      <toc
            file="target/site/generated-eclipse-help/expressionsDevDoc-toc.xml"
            primary="false">
      </toc>
      <toc
            file="target/site/generated-eclipse-help/expressions-devDoc-main-toc.xml"
            primary="false">
      </toc>
   </extension>

</plugin>
