<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.properties.contexts">
      <context
            contextModel="properties/expressions.ctx"
            isCustomizable="true">
      </context>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.properties.environments">
      <environment
            environmentModel="properties/Environment.xmi">
      </environment>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.services.labelprovider.labelProvider">
      <labelProvider
            priority="10"
            provider="org.eclipse.papyrus.infra.emf.expressions.properties.provider.ExpressionsEClassLabelProvider">
      </labelProvider>
   </extension>
</plugin>
