<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2017 CEA LIST.
 
 
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License 2.0
 which accompanies this distribution, and is available at
 https://www.eclipse.org/legal/epl-2.0/

 SPDX-License-Identifier: EPL-2.0
 
 Contributors:
 	Vincent Lorenzo (CEA LIST) vincent.lorenzo@cea.fr - Initial API and implementation
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated umlexpressions -->
      <factory
            uri="http://www.eclipse.org/papyrus/umlexpressions"
            class="org.eclipse.papyrus.uml.expressions.umlexpressions.provider.UMLExpressionsItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated umlexpressions -->
      <extender
            uri="http://www.eclipse.org/papyrus/expressions"
            class="org.eclipse.papyrus.uml.expressions.umlexpressions.provider.UMLExpressionsItemProviderAdapterFactory$ExpressionsChildCreationExtender"/>
      <extender
            uri="http://www.eclipse.org/papyrus/expressions/booleanexpressions"
            class="org.eclipse.papyrus.uml.expressions.umlexpressions.provider.UMLExpressionsItemProviderAdapterFactory$BooleanExpressionsChildCreationExtender"/>
   </extension>
   <extension
         point="org.eclipse.emf.edit.propertyEditorFactories">
      <factory
            class="org.eclipse.papyrus.uml.expressions.edit.internal.editors.factory.SingleStereotypeQualifiedNameEditorFactory"
            uri="http://www.eclipse.org/papyrus/umlExpressions/StereotypeExpression/StereotypeQualifiedName">
      </factory>
      <factory
            class="org.eclipse.papyrus.uml.expressions.edit.internal.editors.factory.SingleProfileURIEditorFactory"
            uri="http://www.eclipse.org/papyrus/umlExpressions/StereotypeExpression/ProfileURI">
      </factory>
      <factory
            class="org.eclipse.papyrus.uml.expressions.edit.internal.editors.factory.SingleStereotypeAttributeEditorFactory"
            uri="http://www.eclipse.org/papyrus/umlExpressions/StereotypeAttributeEqualityExpression/AttributeName">
      </factory>
      <factory
            class="org.eclipse.papyrus.uml.expressions.edit.internal.editors.factory.SingleUMLEClassEditorFactory"
            uri="http://www.eclipse.org/papyrus/umlExpressions/UMLEClassExpression/UMLEClass">
      </factory>
   </extension>
    <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="TreeOutlinePage">
         <propertySection
               class="org.eclipse.papyrus.uml.expressions.edit.internal.sections.UMLExpressionPropertySection"
               filter="org.eclipse.papyrus.uml.expressions.edit.internal.sections.UMLExpressionSectionFilter"
               id="org.eclipse.papyrus.uml.expression.properties.propertySection"
               tab="advanced">
            <input
                  type="java.lang.Object">
            </input>
         </propertySection>
      </propertySections>
   </extension>
</plugin>
