Port > Label {
	maskLabel : name;
	
	
}
Port {
	elementIcon: false;
}
Property {
	elementIcon: false;
}
Connector > Label {
	visible : false;
}
StateMachine > Compartment[kind="symbol"] {
    visible:false;
}
State > Compartment[kind="symbol"] {
    visible:false;
}
Class > Compartment[kind="symbol"] {
    visible:false;
}
Class > Compartment[kind="operations"] {
    visible:false;
}
Class > Compartment[kind="constraints"] {
    visible:false;
}
