<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.nattable.configuration">
      <configuration
            file="config/stereotype.nattableconfiguration"
            type="PapyrusStereotypeDisplayTreeTable">
      </configuration>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.nattable.axismanager">
      <axisManager
            id="org.eclipse.papyrus.uml.nattable.stereotype.display.axis.manager"
            manager="org.eclipse.papyrus.uml.nattable.stereotype.display.manager.axis.NotationTreeTableAxisManager">
      </axisManager>
      <axisManager
            id="org.eclipse.papyrus.uml.nattable.stereotype.display.properties.axis.manager"
            manager="org.eclipse.papyrus.uml.nattable.stereotype.display.manager.axis.StereotypeDisplayPropertiesAxisManager">
      </axisManager>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.nattable.cellmanager">
      <cellManager
            id="org.eclipse.papyrus.uml.nattable.stereotype.display.selection.provider"
            manager="org.eclipse.papyrus.uml.nattable.stereotype.display.manager.cell.TableSelectionProviderCellManager"
            order="101">
      </cellManager>
      <cellManager
            id="org.eclipse.papyrus.uml.nattable.stereotype.display.properties.manager.cell"
            manager="org.eclipse.papyrus.uml.nattable.stereotype.display.manager.cell.StereotypeDisplayTreeTableCellManager"
            order="100">
      </cellManager>
      <cellManager
            id="org.eclipse.papyrus.uml.nattable.stereotype.display.properties.manager.cell.operation.extended.manager"
            manager="org.eclipse.papyrus.uml.nattable.stereotype.display.label.provider.StereotypeDisplayEMFOperationValueCellManager"
            order="150">
      </cellManager>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.nattable.celleditor.configuration">
      <cellAxisConfiguration
            class="org.eclipse.papyrus.uml.nattable.stereotype.display.configuration.StereotypeDisplayPropertiesCellEditorConfiguration"
            order="100">
      </cellAxisConfiguration>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.services.labelprovider.labelProvider">
      <labelProvider
            priority="10"
            provider="org.eclipse.papyrus.uml.nattable.stereotype.display.label.provider.StereotypeDisplayHeaderLabelProvider">
         <labelProviderContext
               context="org.eclipse.papyrus.infra.nattable.header.feature.labelprovider"></labelProviderContext>
         <labelProviderContext
               context="org.eclipse.papyrus.infra.nattable.header.labelprovider">
         </labelProviderContext>
      </labelProvider>
      <labelProvider
            priority="1"
            provider="org.eclipse.papyrus.uml.nattable.stereotype.display.label.provider.StereotypeDisplaySelectionHeaderLabelProvider">
         <labelProviderContext
               context="org.eclipse.papyrus.infra.nattable.header.treefilling.feature.labelprovider">
         </labelProviderContext>
      </labelProvider>
      <labelProvider
            priority="1"
            provider="org.eclipse.papyrus.uml.nattable.stereotype.display.label.provider.StereotypeDisplayPropertyHeaderLabelProvider">
         <labelProviderContext
               context="org.eclipse.papyrus.infra.nattable.header.treefilling.feature.labelprovider">
         </labelProviderContext>
         <labelProviderContext
               context="org.eclipse.papyrus.infra.nattable.header.labelprovider">
         </labelProviderContext>
      </labelProvider>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.nattable.tester">
      <tester
            class="org.eclipse.papyrus.uml.nattable.stereotype.display.tester.IsViewFromUMLElement"
            id="org.eclipse.papyrus.uml.nattable.stereotype.display.tester">
      </tester>
   </extension>

</plugin>
