<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="target/generated-eclipse-help/marqueeSelectionTool-toc.xml"
            primary="false">
      </toc>
      <toc
            file="target/generated-eclipse-help/tools-toc.xml"
            primary="false">
      </toc>
      <toc
            file="target/generated-eclipse-help/alignmentTool-toc.xml"
            primary="false">
      </toc>
      <toc
            file="target/generated-eclipse-help/textAlignment-toc.xml"
            primary="false">
      </toc>
      <toc
            file="target/generated-eclipse-help/keyBindings-toc.xml"
            primary="false">
      </toc>
      <toc
            file="target/generated-eclipse-help/connectionDecorationCustomizationMain.xml"
            primary="false">
      </toc>
      <toc
            file="target/generated-eclipse-help/connectionDecorationCustomization-toc.xml"
            primary="false">
      </toc>
      <toc
            file="target/generated-eclipse-help/diagramPreferences-devDoc-main-toc.xml"
            primary="false">
      </toc>
      <toc
            file="target/generated-eclipse-help/diagramPreferences-devDoc-toc.xml"
            primary="false">
      </toc>
      <toc
            file="target/generated-eclipse-help/diagramPreferences-userDoc-main-toc.xml"
            primary="false">
      </toc>
      <toc
            file="target/generated-eclipse-help/diagramPreferences-userDoc-toc.xml"
            primary="false">
      </toc>
      <toc
            file="target/generated-eclipse-help/keyBindingsDefinition-toc.xml"
            primary="false">
      </toc>
      <toc
            file="target/generated-eclipse-help/diagramExpansion-main-toc.xml"
            primary="false">
      </toc>
      <toc
            file="target/generated-eclipse-help/diagramExpansion-toc.xml"
            primary="false">
      </toc>
       <toc
            file="target/generated-eclipse-help/modelExplorer-main-toc.xml"
            primary="false">
      </toc>
      <toc
            file="target/generated-eclipse-help/modelExplorer-toc.xml"
            primary="false">
      </toc>
   </extension>
</plugin>
