<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="target/site/generated-eclipse-help/nattable-userDoc-main-toc.xml"
            primary="false">
      </toc>
      <toc
            file="target/site/generated-eclipse-help/nattable-devDoc-main-toc.xml"
            primary="false">
      </toc>
      <toc
            file="target/site/generated-eclipse-help/tableUserDoc-toc.xml"
            primary="false">
      </toc>
      <toc
            file="target/site/generated-eclipse-help/tablemetamodeldocumentation-toc.xml"
            primary="false">
      </toc>
      <toc
            file="target/site/generated-eclipse-help/tableDevDoc-toc.xml"
            primary="false">
      </toc>
      <toc
            file="target/site/generated-eclipse-help/matrixUserDoc-toc.xml"
            primary="false">
      </toc>
      <toc
            file="target/site/generated-eclipse-help/matrixDevDoc-toc.xml"
            primary="false">
      </toc>
      <toc
            file="target/site/generated-eclipse-help/toolsmiths/nattableToolsmith-main-toc.xml"
            primary="false">
      </toc>
      <toc
            file="target/site/generated-eclipse-help/toolsmiths/nattableToolsmiths-toc.xml"
            primary="false">
      </toc>
      <toc
            file="target/site/generated-eclipse-help/tableDevDoc_experimental_features-toc.xml"
            primary="false">
      </toc>
   </extension>

</plugin>
