<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension-point id="ocl_tracker_factory" name="GMF-Tooling OCL Tracker Factory" schema="schema/ocl_tracker_factory.exsd"/>

	<extension point="org.eclipse.papyrus.infra.gmfdiag.tooling.runtime.ocl_tracker_factory">
		<oclTrackerFactory
        	class="org.eclipse.papyrus.infra.gmfdiag.tooling.runtime.impl.ocl.tracker.activeocl.ActiveOclTrackerFactory"
        	default="false"/>
	</extension>

</plugin>
