<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
 Copyright (c) 2010, 2015 CEA, Christian W. Damus, and others.
 
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License 2.0
 which accompanies this distribution, and is available at
 https://www.eclipse.org/legal/epl-2.0/

 SPDX-License-Identifier: EPL-2.0
 
 Contributors:
   CEA - Initial API and implementation
   Christian W. Damus (CEA) - bug 323802
   Christian W. Damus - bug 433206
   
-->
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
			categoryId="org.eclipse.papyrus.editor.category"
            description="Create a new Communication Diagram "
            id="org.eclipse.papyrus.uml.diagram.communication.CreateCommunicationDiagramCommand"
            name="Create a new Communication Diagram">
      </command>
   </extension>
   
   
   
   <extension
         point="org.eclipse.papyrus.infra.ui.papyrusDiagram">
      <editorDiagram
            factoryClass="org.eclipse.papyrus.uml.diagram.communication.CommunicationDiagramEditorFactory"
            icon="icons/obj16/Diagram_Communication.gif">
      </editorDiagram>
      <creationCommand
            creationCommandClass="org.eclipse.papyrus.uml.diagram.communication.CreateCommunicationDiagramCommand"
            creationCondition="org.eclipse.papyrus.uml.diagram.communication.CommunicationDiagramCreationCondition"
            icon="icons/obj16/Diagram_Communication.gif"
            id="org.eclipse.papyrus.uml.diagram.communication.CreateCommunicationDiagramCommand"
            label="Communication Diagram"
            language="uml">
      </creationCommand>
   </extension>


<extension point="org.eclipse.gmf.runtime.common.ui.services.markerNavigationProviders" id="markers-navigation">
				      <?gmfgen generated="true"?>
				      <MarkerNavigationProvider class="org.eclipse.papyrus.uml.diagram.communication.providers.UMLMarkerNavigationProvider">
				         <MarkerType name="org.eclipse.papyrus.uml.diagram.communication.diagnostic"/>
				         <Priority name="Lowest"/>
				      </MarkerNavigationProvider>
				   </extension>

<extension id="diagnostic" name="org.eclipse.papyrus.uml.diagram.communication problems" point="org.eclipse.core.resources.markers">
				      <?gmfgen generated="true"?>
				      <super type="org.eclipse.core.resources.problemmarker"/>
				      <super type="org.eclipse.gmf.runtime.common.ui.services.marker"/>
				      <persistent value="true"/>
				   </extension>
<extension point="org.eclipse.ui.preferencePages" id="prefpages">
		      <?gmfgen generated="true"?>
		<page
		      id="org.eclipse.papyrus.infra.gmfdiag.preferences.diagrams.PapyrusUMLCommunicationDiagram"
		      name="PapyrusUMLCommunicationDiagram Diagram"
		      category="org.eclipse.papyrus.infra.gmfdiag.preferences.diagrams"
		      class="org.eclipse.papyrus.uml.diagram.communication.preferences.DiagramGeneralPreferencePage">
		</page>
		<page
		      id="org.eclipse.papyrus.uml.diagram.communication.preferences.DiagramPrintingPreferencePage"
		      name="%prefpage.org.eclipse.uml2.uml.diagram.printing"
		      category="org.eclipse.papyrus.infra.gmfdiag.preferences.diagrams.PapyrusUMLCommunicationDiagram"
		      class="org.eclipse.papyrus.uml.diagram.communication.preferences.DiagramPrintingPreferencePage">
		</page>
		   </extension>

<extension point="org.eclipse.core.runtime.preferences" id="prefs">
		      <?gmfgen generated="true"?>
		      <initializer class="org.eclipse.papyrus.uml.diagram.communication.preferences.DiagramPreferenceInitializer"/>
		   </extension>

<extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
	      <?gmfgen generated="true"?>
	      <viewProvider class="org.eclipse.papyrus.uml.diagram.communication.providers.UMLViewProvider">
	         <Priority name="Lowest"/>
	         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="PapyrusUMLCommunicationDiagram"/>
	         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="Interaction_Shape,Lifeline_Shape,Constraint_Shape,Comment_Shape,TimeObservation_Shape,DurationObservation_Shape"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="Path_Edge,Comment_AnnotatedElementEdge,Constraint_ConstrainedElementEdge,DurationObservation_EventEdge,TimeObservation_EventEdge"/>
	      </viewProvider>
	   </extension>

<extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
	      <?gmfgen generated="true"?>
	      <editpartProvider class="org.eclipse.papyrus.uml.diagram.communication.providers.UMLEditPartProvider">
	         <Priority name="Lowest"/>
	         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
	            <method name="getType()" value="PapyrusUMLCommunicationDiagram"/>
	         </object>
	         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
	            <method name="getType()" value="Interaction_Shape,Lifeline_Shape,Constraint_Shape,Comment_Shape,TimeObservation_Shape,DurationObservation_Shape"/>
	         </object>
	         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
	            <method name="getType()" value="Path_Edge,Comment_AnnotatedElementEdge,Constraint_ConstrainedElementEdge,DurationObservation_EventEdge,TimeObservation_EventEdge"/>
	         </object>
	         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
	            <method name="getType()" value="Interaction_NameLabel,Interaction_FloatingNameLabel,Lifeline_NameLabel,Lifeline_FloatingNameLabel,Constraint_NameLabel,Constraint_BodyLabel,Comment_BodyLabel,TimeObservation_NameLabel,TimeObservation_StereotypeLabel,DurationObservation_NameLabel,DurationObservation_StereotypeLabel"/>
	         </object>
	         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
	            <method name="getType()" value="Interaction_SubfragmentCompartment"/>
	         </object>
	         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
	      </editpartProvider>
	   </extension>


<extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
	      <?gmfgen generated="true"?>
	      <IconProvider class="org.eclipse.papyrus.uml.diagram.communication.providers.UMLIconProvider">
	         <Priority name="Lowest"/>
	      </IconProvider>
	   </extension>

<extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
	      <?gmfgen generated="true"?>
	      <ParserProvider class="org.eclipse.papyrus.uml.diagram.communication.providers.UMLParserProvider">
	         <Priority name="Lowest"/>
	      </ParserProvider>
	   </extension>

	

<extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
      <propertyTester
            id="org.eclipse.papyrus.uml.diagram.communication.URIEditorInputPropertyTester"
            type="org.eclipse.emf.common.ui.URIEditorInput"
            namespace="org.eclipse.papyrus.uml.diagram.communication"
            properties="isURIEditorInput"
            class="org.eclipse.papyrus.uml.diagram.communication.part.UMLUriEditorInputTester">
      </propertyTester>
   </extension>

<extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="org.eclipse.papyrus.uml.diagram.communication.resourceContent"/>
            <contentExtension pattern="org.eclipse.papyrus.uml.diagram.communication.domainResourceContent"/>
            <contentExtension pattern="org.eclipse.papyrus.uml.diagram.communication.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="org.eclipse.papyrus.uml.diagram.communication.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

<extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="org.eclipse.papyrus.uml.diagram.communication.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="org.eclipse.papyrus.uml.diagram.communication.navigator.UMLNavigatorContentProvider" 
            labelProvider="org.eclipse.papyrus.uml.diagram.communication.navigator.UMLNavigatorLabelProvider"
            icon="icons/obj16/UMLDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
               <and>
                  <instanceof value="org.eclipse.core.resources.IFile"/>
                  <test property="org.eclipse.core.resources.extension" value="PapyrusUMLCommunication_diagram"/>
               </and>
               <instanceof value="org.eclipse.papyrus.uml.diagram.communication.navigator.UMLAbstractNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof value="org.eclipse.papyrus.uml.diagram.communication.navigator.UMLAbstractNavigatorItem"/>
            </or>
         </possibleChildren>
         <commonSorter 
               id="org.eclipse.papyrus.uml.diagram.communication.navigatorSorter" 
               class="org.eclipse.papyrus.uml.diagram.communication.navigator.UMLNavigatorSorter">
            <parentExpression>
               <or>
                  <and>
                     <instanceof value="org.eclipse.core.resources.IFile"/>
                     <test property="org.eclipse.core.resources.extension" value="PapyrusUMLCommunication_diagram"/>
                  </and>
                  <instanceof value="org.eclipse.papyrus.uml.diagram.communication.navigator.UMLAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="org.eclipse.papyrus.uml.diagram.communication.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="org.eclipse.papyrus.uml.diagram.communication.navigator.UMLDomainNavigatorContentProvider" 
            labelProvider="org.eclipse.papyrus.uml.diagram.communication.navigator.UMLDomainNavigatorLabelProvider"
            icon="icons/obj16/UMLDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
               <and>
                  <instanceof value="org.eclipse.core.resources.IFile"/>
                  <test property="org.eclipse.core.resources.extension" value="PapyrusUMLCommunication"/>
               </and>
               <instanceof value="org.eclipse.papyrus.uml.diagram.communication.navigator.UMLDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="org.eclipse.papyrus.uml.diagram.communication.navigator.UMLDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="org.eclipse.papyrus.uml.diagram.communication.navigatorActionProvider"
            class="org.eclipse.papyrus.uml.diagram.communication.navigator.UMLNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="org.eclipse.papyrus.uml.diagram.communication.navigator.UMLAbstractNavigatorItem"/>
            </or>
         </enablement>
      </actionProvider>
   </extension>

<extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="org.eclipse.papyrus.uml.diagram.communication.navigatorLinkHelper"
            class="org.eclipse.papyrus.uml.diagram.communication.navigator.UMLNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="org.eclipse.papyrus.uml.diagram.communication.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="org.eclipse.papyrus.uml.diagram.communication.navigator.UMLAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>



<extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider class="org.eclipse.papyrus.uml.diagram.communication.custom.providers.CustomUMLEditPartProvider">
         <Priority name="Highest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="PapyrusUMLCommunicationDiagram"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="Interaction_Shape,Diagram_ShortcutShape,Lifeline_Shape,Constraint_Shape,Comment_Shape,TimeObservation_Shape,DurationObservation_Shape"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="Path_Edge,Comment_AnnotatedElementEdge,Constraint_ConstrainedElementEdge,DurationObservation_EventEdge,TimeObservation_EventEdge"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="Interaction_NameLabel,Interaction_FloatingNameLabel,Diagram_NameLabel,Lifeline_NameLabel,Lifeline_FloatingNameLabel,Constraint_NameLabel,Constraint_BodyLabel,Comment_BodyLabel,TimeObservation_NameLabel,TimeObservation_StereotypeLabel,DurationObservation_NameLabel,DurationObservation_StereotypeLabel"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value="Interaction_SubfragmentCompartment"/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>
<extension point="org.eclipse.ui.contexts" id="ui-context">
				      <?gmfgen generated="true"?>
				      <context
				         description="%context.description"
				         id="org.eclipse.papyrus.uml.diagram.communication.ui.diagramContext"
				         name="%context.name"
				         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
				      </context>
				   </extension>
<extension
      point="org.eclipse.ui.popupMenus">
   <objectContribution
         adaptable="false"
         id="org.eclipse.papyrus.uml.diagram.communication.objectContribution.messageLabelReorient"
         objectClass="org.eclipse.papyrus.uml.diagram.communication.edit.parts.MessageNameEditPart">
      <action
            class="org.eclipse.papyrus.uml.diagram.communication.custom.commands.MessageLabelInverseOrientation"
            definitionId="org.eclipse.papyrus.uml.diagram.communication.messagelabelreorientID"
            enablesFor="1"
            icon="icons/arrow-rotate.gif"
            id="org.eclipse.papyrus.uml.diagram.communication.MessagelabelreorientID"
            label="Reverse message orientation"
            menubarPath="editGroup">
      </action>
   </objectContribution>
</extension>
<extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
   </extension>

<extension id="validationDecoratorProvider" name="ValidationDecorations" point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
				      <?gmfgen generated="true"?>
				      <decoratorProvider class="org.eclipse.papyrus.uml.diagram.communication.providers.UMLValidationDecoratorProvider">
				         <Priority name="Lowest"/>
				         <object class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)" id="PRIMARY_VIEW"/>
				         <context decoratorTargets="PRIMARY_VIEW"/>
				      </decoratorProvider>
				   </extension>
<extension point="org.eclipse.papyrus.infra.gmfdiag.common.notationTypesMapping"> 
   <?gmfgen generated="true"?>
   <diagramMappings diagramID="PapyrusUMLCommunicationDiagram">
   	<mapping type="PapyrusUMLCommunicationDiagram" humanReadableType="CommunicationDiagram"/>
			<mapping
				humanReadableType="Interaction"
				type="Interaction_SubfragmentCompartment">
			</mapping>
			<mapping
				humanReadableType="Floating Label"
				type="Lifeline_FloatingNameLabel">
			</mapping>
			<mapping
				humanReadableType="Floating Label"
				type="TimeObservation_NameLabel">
			</mapping>
			<mapping
				humanReadableType="Floating Label"
				type="DurationObservation_NameLabel">
			</mapping>
			<mapping
				humanReadableType="Floating Label"
				type="Interaction_FloatingNameLabel">
			</mapping>
   </diagramMappings>
</extension>


    <extension
            point="org.eclipse.papyrus.infra.gmfdiag.canonical.strategies">
        <semanticChildrenStrategy
                editPart="org.eclipse.papyrus.uml.diagram.communication.edit.parts.LifelineEditPartCN"
                class="org.eclipse.papyrus.uml.diagram.communication.custom.canonical.LifelineSemanticChildrenStrategy">
        </semanticChildrenStrategy>
        <visualChildrenStrategy
                editPart="org.eclipse.papyrus.uml.diagram.communication.edit.parts.LifelineEditPartCN"
                class="org.eclipse.papyrus.uml.diagram.communication.custom.canonical.LifelineVisualChildrenStrategy">
        </visualChildrenStrategy>
    </extension>
    
     
   <extension
      point="org.eclipse.papyrus.infra.gmfdiag.common.diagramReconciler">
       <diagramReconciler
         diagramType="PapyrusUMLCommunicationDiagram"
         reconcilerClass="org.eclipse.papyrus.uml.diagram.communication.custom.migration.CommunicationReconciler_1_1_0"
         source="1.0.0"
         target="1.4.0">
   </diagramReconciler>
   <diagramReconciler
         diagramType="PapyrusUMLCommunicationDiagram"
         reconcilerClass="org.eclipse.papyrus.uml.diagram.communication.custom.migration.CommunicationReconcilerForCompartment_1_2_0"
         source="1.1.0"
         target="1.4.0">
   </diagramReconciler>
   <diagramReconciler
         diagramType="PapyrusUMLCommunicationDiagram"
         reconcilerClass="org.eclipse.papyrus.uml.diagram.communication.custom.migration.CommunicationReconciler_1_2_0"
         source="1.1.0"
         target="1.4.0">
   </diagramReconciler>
</extension>
   <extension point="org.eclipse.papyrus.infra.gmfdiag.common.visualTypeProviders">
	      <?gmfgen generated="true"?>
	      <visualTypeProvider
	            class="org.eclipse.papyrus.uml.diagram.communication.providers.UMLVisualTypeProvider"
	            diagramType="PapyrusUMLCommunicationDiagram">
	         </visualTypeProvider>
	   </extension>


</plugin>
