<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="target/generated-eclipse-help/PapyrusStarterGuide-main-toc.xml"
            primary="false">
      </toc>
      <toc
            file="target/generated-eclipse-help/PapyrusStarterGuide-toc.xml"
            primary="false">
      </toc>
      <toc
            file="target/generated-eclipse-help/namingStrategy-userDoc-main-toc.xml"
            primary="false">
      </toc>
       <toc
            file="target/generated-eclipse-help/namingStrategy-userDoc-toc.xml"
            primary="false">
      </toc>
      <toc
            file="target/generated-eclipse-help/namingStrategy-devDoc-main-toc.xml"
            primary="false">
      </toc>
      <toc
            file="target/generated-eclipse-help/namingStrategy-devDoc-toc.xml"
            primary="false">
      </toc>
      <toc
            file="target/generated-eclipse-help/embeddedEditors-userDoc-main-toc.xml"
            primary="false">
      </toc>
      <toc
            file="target/generated-eclipse-help/embeddedEditors-userDoc-toc.xml"
            primary="false">
      </toc>
      <toc
            file="target/generated-eclipse-help/embeddedEditors-devDoc-main-toc.xml"
            primary="false">
      </toc>
      <toc
            file="target/generated-eclipse-help/embeddedEditors-XText-devDoc-toc.xml"
            primary="false">
      </toc>
      <toc
            file="target/generated-eclipse-help/embeddedEditors-Textual-devDoc-toc.xml"
            primary="false">
      </toc>
      <toc
            file="target/generated-eclipse-help/obfuscation-main-toc.xml"
            primary="false">
      </toc>
       <toc
            file="target/generated-eclipse-help/obfuscation-toc.xml"
            primary="false">
      </toc>
      <toc
            file="target/generated-eclipse-help/searchModelExplorer-main-toc.xml"
            primary="false">
      </toc>
       <toc
            file="target/generated-eclipse-help/searchModelExplorer-toc.xml"
            primary="false">
      </toc>
      <toc
            file="target/generated-eclipse-help/customizeUMLLabelInModelExplorer-main-toc.xml"
            primary="false">
      </toc>
       <toc
            file="target/generated-eclipse-help/customizeUMLLabelInModelExplorer-toc.xml"
            primary="false">
      </toc>
      <toc
            file="target/generated-eclipse-help/expandInModelExplorer-main-toc.xml"
            primary="false">
      </toc>
       <toc
            file="target/generated-eclipse-help/expandInModelExplorer-toc.xml"
            primary="false">
      </toc>
   </extension>

</plugin>
