<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="target/site/generated-eclipse-help/api_migration_main-toc.xml"
            primary="false">
      </toc>
      <toc
            file="target/site/generated-eclipse-help/4.8.0_to_5.0.0_migration-toc.xml"
            primary="false">
      </toc>
   </extension>

</plugin>
