<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.emf.facet.util.emf.core.modeldeclaration">
      <modeldeclaration
            file="resources/TextDocument.custom">
      </modeldeclaration>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.papyrus.infra.textedit.modelexplorer.internal.handlers.RenameTextDocumentHandler"
            commandId="org.eclipse.ui.edit.rename">
         <activeWhen>
            <with
                  variable="selection">
               <iterate>
                  <adapt
                        type="org.eclipse.emf.ecore.EObject">
                     <instanceof
                           value="org.eclipse.papyrus.infra.textedit.textdocument.TextDocument">
                     </instanceof>
                  </adapt>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.papyrus.infra.textedit.modelexplorer.internal.handlers.TextDocumentQuickFormatHandler"
            commandId="org.eclipse.papyrus.infra.ui.menu.commands.QuickFormattingUpperCaseCommand">
         <activeWhen>
            <with
                  variable="selection">
               <iterate>
                  <adapt
                        type="org.eclipse.emf.ecore.EObject">
                     <instanceof
                           value="org.eclipse.papyrus.infra.textedit.textdocument.TextDocument">
                     </instanceof>
                  </adapt>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.papyrus.infra.textedit.modelexplorer.internal.handlers.TextDocumentQuickFormatHandler"
            commandId="org.eclipse.papyrus.infra.ui.menu.commands.QuickFormattingLowerCaseCommand">
         <activeWhen>
            <with
                  variable="selection">
               <iterate>
                  <adapt
                        type="org.eclipse.emf.ecore.EObject">
                     <instanceof
                           value="org.eclipse.papyrus.infra.textedit.textdocument.TextDocument">
                     </instanceof>
                  </adapt>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.papyrus.infra.textedit.modelexplorer.internal.handlers.TextDocumentQuickFormatHandler"
            commandId="org.eclipse.papyrus.infra.ui.menu.commands.QuickFormattingSwitchSpace2UnderscoreCommand">
         <activeWhen>
            <with
                  variable="selection">
               <iterate>
                  <adapt
                        type="org.eclipse.emf.ecore.EObject">
                     <instanceof
                           value="org.eclipse.papyrus.infra.textedit.textdocument.TextDocument">
                     </instanceof>
                  </adapt>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.papyrus.infra.textedit.modelexplorer.internal.handlers.TextDocumentQuickFormatHandler"
            commandId="org.eclipse.papyrus.infra.ui.menu.commands.QuickFormattingCapitalizeFirstLetterCommand">
         <activeWhen>
            <with
                  variable="selection">
               <iterate>
                  <adapt
                        type="org.eclipse.emf.ecore.EObject">
                     <instanceof
                           value="org.eclipse.papyrus.infra.textedit.textdocument.TextDocument">
                     </instanceof>
                  </adapt>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.papyrus.infra.textedit.modelexplorer.internal.handlers.TextDocumentQuickFormatHandler"
            commandId="org.eclipse.papyrus.infra.ui.menu.commands.QuickFormattingRemoveSpaceCommand">
         <activeWhen>
            <with
                  variable="selection">
               <iterate>
                  <adapt
                        type="org.eclipse.emf.ecore.EObject">
                     <instanceof
                           value="org.eclipse.papyrus.infra.textedit.textdocument.TextDocument">
                     </instanceof>
                  </adapt>
               </iterate>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.gmfdiag.extensionpoints.editors.DirectEditor">
      <DirectEditor
            contributor="Eclipse Modeling Project"
            language="TextDocument Direct Editor"
            objectToEdit="org.eclipse.papyrus.infra.textedit.textdocument.TextDocument"
            superType="true">
         <Priority
               name="Medium">
         </Priority>
         <popupeditor
               editorConfiguration="org.eclipse.papyrus.infra.textedit.modelexplorer.internal.directeditor.TextDocumentDirectEditorConfiguration"></popupeditor>
      </DirectEditor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.papyrus.infra.textedit.modelexplorer.internal.directeditor.TextDocumentDirectEditorPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
