<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2024, CEA LIST.
 
  This program and the accompanying materials
  are made available under the terms of the Eclipse Public License 2.0
  which accompanies this distribution, and is available at
  https://www.eclipse.org/legal/epl-2.0/
 
  SPDX-License-Identifier: EPL-2.0
 
  Contributors:
   Obeo - Initial API and implementation
-->
<plugin>
   <extension point="org.eclipse.ui.views">
      <view
            name="%view.sequenceDebug.name"
            icon="icons/papyrus16.png"
            category="org.eclipse.sirius.category"
            class="org.eclipse.papyrus.sirius.uml.diagram.sequence.debug.SequenceDebugView"
            id="org.eclipse.papyrus.sirius.diagram.sequence.debug.DebugView">
      </view>
   </extension>
   <!--
   <extension
         point="org.eclipse.sirius.ui.editor.sessionEditorPageProvider">
      <pageProvider
            class="org.eclipse.sirius.ui.debug.pages.DebugPageProvider">
      </pageProvider>
   </extension>
   -->
</plugin>
