<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.nattable.celleditor.configuration">
      <cellAxisConfiguration
            class="org.eclipse.papyrus.uml.nattable.richtext.celleditor.config.RichTextCellEditorConfiguration"
            order="150">
      </cellAxisConfiguration>
   </extension>

</plugin>
