<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
 Copyright (c) 2014, 2021 CEA LIST, Christian W. Damus, and others.
 
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License 2.0
 which accompanies this distribution, and is available at
 https://www.eclipse.org/legal/epl-2.0/

 SPDX-License-Identifier: EPL-2.0

 Contributors:
   CEA LIST - Initial API and implementation
   Christian W. Damus - bug 571561, 485220, 570542
-->
<plugin>

	<extension
         point="org.eclipse.ui.menus">
    <menuContribution
          allPopups="false"
          locationURI="popup:org.eclipse.papyrus.dev.ui.framework">
       <command
             commandId="org.eclipse.papyrus.infra.types.ui.deploy"
             icon="icons/configuration.gif"
             style="push">
          <visibleWhen
                checkEnabled="false">
             <with
                   variable="selection">
                <iterate
                      ifEmpty="false"
                      operator="and">
                   <adapt
                         type="org.eclipse.core.resources.IFile">
                      <or>
                         <test
                               property="org.eclipse.core.resources.extension"
                               value="elementtypesconfigurations">
                         </test>
                      </or>
                   </adapt>
                </iterate>
             </with>
          </visibleWhen>
       </command>
       <command
             commandId="org.eclipse.papyrus.infra.types.ui.undeploy"
             icon="icons/configuration.gif"
             style="push">
          <visibleWhen
                checkEnabled="false">
             <with
                   variable="selection">
                <iterate
                      ifEmpty="false"
                      operator="and">
                   <adapt
                         type="org.eclipse.core.resources.IFile">
                      <or>
                         <test
                               property="org.eclipse.core.resources.extension"
                               value="elementtypesconfigurations">
                         </test>
                      </or>
                   </adapt>
                </iterate>
             </with>
          </visibleWhen>
       </command>
    </menuContribution>
	</extension>

	<extension
         point="org.eclipse.ui.commands">
		<command
            defaultHandler="org.eclipse.papyrus.infra.types.core.internal.ui.handlers.DeployElementTypeSetConfigurationHandler"
            id="org.eclipse.papyrus.infra.types.ui.deploy"
            name="%command.deploy.name">
		</command>
		<command
            defaultHandler="org.eclipse.papyrus.infra.types.core.internal.ui.handlers.UndeployElementTypeSetConfigurationHandler"
            id="org.eclipse.papyrus.infra.types.ui.undeploy"
            name="%command.disable.name">
		</command>
	</extension>
	
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="%command.negate.description"
            id="org.eclipse.papyrus.infra.types.ui.commands.negateRule"
            name="%command.negate.name">
      </command>
      <command
            description="%command.pullUp.description"
            id="org.eclipse.papyrus.infra.types.ui.commands.pullUpOperandRule"
            name="%command.pullUp.name">
      </command>
      <command
            description="%command.addToAnd.description"
            id="org.eclipse.papyrus.infra.types.ui.commands.addToAndRule"
            name="%command.addToAnd.name">
      </command>
      <command
            description="%command.addToOr.description"
            id="org.eclipse.papyrus.infra.types.ui.commands.addToOrRule"
            name="%command.addToOr.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.eclipse.papyrus.infra.types.ui.commands.negateRule">
         <class class="org.eclipse.papyrus.infra.types.core.internal.ui.handlers.RuleRefactoringHandler">
	        <parameter
	              name="operation"
	              value="NEGATE">
	        </parameter>
         </class>
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <adapt
                           type="org.eclipse.papyrus.infra.types.rulebased.RuleConfiguration">
                        <or>
                           <not>
                              <instanceof
                                    value="org.eclipse.papyrus.infra.types.rulebased.NotRuleConfiguration">
                              </instanceof>
                           </not>
                           <test
                                 property="org.eclipse.papyrus.infra.types.rulebased.operandCount"
                                 value="1">
                           </test>
                        </or>
                     </adapt>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            commandId="org.eclipse.papyrus.infra.types.ui.commands.pullUpOperandRule">
         <class class="org.eclipse.papyrus.infra.types.core.internal.ui.handlers.RuleRefactoringHandler">
	        <parameter
	              name="operation"
	              value="PULL_UP_OPERAND">
	        </parameter>
         </class>
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <adapt
                           type="org.eclipse.papyrus.infra.types.rulebased.RuleConfiguration">
                        <and>
                           <!-- In the case of the NotRuleConfiguration, the Negate refactoring does this. -->
                           <instanceof
                                 value="org.eclipse.papyrus.infra.types.rulebased.CompositeRuleConfiguration">
                           </instanceof>
                           <test
                                 property="org.eclipse.papyrus.infra.types.rulebased.operandCount"
                                 value="1">
                           </test>
                        </and>
                     </adapt>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            commandId="org.eclipse.papyrus.infra.types.ui.commands.addToAndRule">
         <class class="org.eclipse.papyrus.infra.types.core.internal.ui.handlers.RuleRefactoringHandler">
	        <parameter
	              name="operation"
	              value="ADD_TO_AND">
	        </parameter>
         </class>
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <adapt
                           type="org.eclipse.papyrus.infra.types.rulebased.RuleConfiguration">
                        <not>
                           <test
                                 property="org.eclipse.papyrus.infra.types.rulebased.container"
                                 value="org.eclipse.papyrus.infra.types.rulebased.AndRuleConfiguration">
                           </test>
                        </not>
                     </adapt>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            commandId="org.eclipse.papyrus.infra.types.ui.commands.addToOrRule">
         <class class="org.eclipse.papyrus.infra.types.core.internal.ui.handlers.RuleRefactoringHandler">
	        <parameter
	              name="operation"
	              value="ADD_TO_OR">
	        </parameter>
         </class>
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <adapt
                           type="org.eclipse.papyrus.infra.types.rulebased.RuleConfiguration">
                        <not>
                           <test
                                 property="org.eclipse.papyrus.infra.types.rulebased.container"
                                 value="org.eclipse.papyrus.infra.types.rulebased.OrRuleConfiguration">
                           </test>
                        </not>
                     </adapt>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="org.eclipse.papyrus.infra.types.ui.refactor"
               label="%menu.refactor.label">
            <command
                  commandId="org.eclipse.papyrus.infra.types.ui.commands.negateRule"
                  label="%command.negate.label"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.papyrus.infra.types.ui.commands.addToAndRule"
                  label="%command.addToAnd.label"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.papyrus.infra.types.ui.commands.addToOrRule"
                  label="%command.addToOr.label"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.papyrus.infra.types.ui.commands.pullUpOperandRule"
                  label="%command.pullUp.label"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <adapt
                              type="org.eclipse.emf.ecore.EObject">
                           <instanceof
                                 value="org.eclipse.papyrus.infra.types.rulebased.RuleConfiguration">
                           </instanceof>
                        </adapt>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
</plugin>
