<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Sash Windows Simple Editor"
            extensions="simpleEditor"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.papyrus.example.core.sashwindows.simpleeditor.editors.MultiPageEditorContributor"
            class="org.eclipse.papyrus.example.core.sashwindows.simpleeditor.editors.SimpleTextMultiPageEditor"
            id="org.eclipse.papyrus.example.sashwindows.SimpleEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
          <!-- @generated NOT -->
      <wizard
            name="%wizardSash"
            icon="icons/sample.gif"
            category="org.eclipse.papyrus.wizards.category/org.eclipse.papyrus.examples"
            class="org.eclipse.papyrus.example.core.sashwindows.simpleeditor.wizards.MultiPageEditorNewWizard"
            id="org.eclipse.papyrus.example.sashwindows.wizards.SimpleEditor">
      </wizard>
   </extension>

</plugin>
