<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2013 CEA LIST.
 
 
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License 2.0
 which accompanies this distribution, and is available at
 https://www.eclipse.org/legal/epl-2.0/

 SPDX-License-Identifier: EPL-2.0
 
 Contributors:
 	Vincent Lorenzo (CEA LIST) vincent.lorenzo@cea.fr - Initial API and implementation
-->

<plugin>























   <extension point="org.eclipse.ui.editors">
      <!-- @generated nattable -->
      <editor
            id="org.eclipse.papyrus.infra.nattable.model.nattable.presentation.NattableEditorID"
            name="%_UI_NattableEditor_label"
            icon="icons/full/obj16/NattableModelFile.gif"
            extensions="nattable"
            class="org.eclipse.papyrus.infra.nattable.model.nattable.presentation.NattableEditor"
            contributorClass="org.eclipse.papyrus.infra.nattable.model.nattable.presentation.NattableActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated NOT nattable -->
      <wizard
            id="org.eclipse.papyrus.infra.nattable.model.nattable.nattableconfiguration.presentation.NattableconfigurationModelWizardID"
            name="%_UI_NattableconfigurationModelWizard_label"
            class="org.eclipse.papyrus.infra.nattable.model.nattable.nattableconfiguration.presentation.NattableconfigurationModelWizard"
            category="org.eclipse.papyrus.wizards.category/org.eclipse.papyrus.wizards.custo.category/org.eclipse.papyrus.wizards.custo.editors.category"
            icon="icons/full/obj16/NattableconfigurationModelFile.gif">
         <description>%_UI_NattableconfigurationModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>
   <extension point="org.eclipse.ui.editors">
      <!-- @generated NOT nattable -->
      <editor
            id="org.eclipse.papyrus.infra.nattable.model.nattable.nattableconfiguration.presentation.NattableconfigurationEditorID"
            name="%_UI_NattableconfigurationEditor_label"
            icon="icons/full/obj16/NattableconfigurationModelFile.gif"
            extensions="nattableconfiguration"
            class="org.eclipse.papyrus.infra.nattable.model.nattable.nattableconfiguration.presentation.NattableconfigurationEditor"
            contributorClass="org.eclipse.papyrus.infra.nattable.model.nattable.nattableconfiguration.presentation.NattableconfigurationActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated nattable -->
      <editor
            id="org.eclipse.papyrus.infra.nattable.model.nattable.nattableaxisprovider.presentation.NattableaxisproviderEditorID"
            name="%_UI_NattableaxisproviderEditor_label"
            icon="icons/full/obj16/NattableaxisproviderModelFile.gif"
            extensions="nattableaxisprovider"
            class="org.eclipse.papyrus.infra.nattable.model.nattable.nattableaxisprovider.presentation.NattableaxisproviderEditor"
            contributorClass="org.eclipse.papyrus.infra.nattable.model.nattable.nattableaxisprovider.presentation.NattableaxisproviderActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated nattable -->
      <editor
            id="org.eclipse.papyrus.infra.nattable.model.nattable.nattablelabelprovider.presentation.NattablelabelproviderEditorID"
            name="%_UI_NattablelabelproviderEditor_label"
            icon="icons/full/obj16/NattablelabelproviderModelFile.gif"
            extensions="nattablelabelprovider"
            class="org.eclipse.papyrus.infra.nattable.model.nattable.nattablelabelprovider.presentation.NattablelabelproviderEditor"
            contributorClass="org.eclipse.papyrus.infra.nattable.model.nattable.nattablelabelprovider.presentation.NattablelabelproviderActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated nattable -->
      <editor
            id="org.eclipse.papyrus.infra.nattable.model.nattable.nattableaxisconfiguration.presentation.NattableaxisconfigurationEditorID"
            name="%_UI_NattableaxisconfigurationEditor_label"
            icon="icons/full/obj16/NattableaxisconfigurationModelFile.gif"
            extensions="nattableaxisconfiguration"
            class="org.eclipse.papyrus.infra.nattable.model.nattable.nattableaxisconfiguration.presentation.NattableaxisconfigurationEditor"
            contributorClass="org.eclipse.papyrus.infra.nattable.model.nattable.nattableaxisconfiguration.presentation.NattableaxisconfigurationActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated nattable -->
      <editor
            id="org.eclipse.papyrus.infra.nattable.model.nattable.nattabletester.presentation.NattabletesterEditorID"
            name="%_UI_NattabletesterEditor_label"
            icon="icons/full/obj16/NattabletesterModelFile.gif"
            extensions="nattabletester"
            class="org.eclipse.papyrus.infra.nattable.model.nattable.nattabletester.presentation.NattabletesterEditor"
            contributorClass="org.eclipse.papyrus.infra.nattable.model.nattable.nattabletester.presentation.NattabletesterActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated nattable -->
      <editor
            id="org.eclipse.papyrus.infra.nattable.model.nattable.nattableaxis.presentation.NattableaxisEditorID"
            name="%_UI_NattableaxisEditor_label"
            icon="icons/full/obj16/NattableaxisModelFile.gif"
            extensions="nattableaxis"
            class="org.eclipse.papyrus.infra.nattable.model.nattable.nattableaxis.presentation.NattableaxisEditor"
            contributorClass="org.eclipse.papyrus.infra.nattable.model.nattable.nattableaxis.presentation.NattableaxisActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated nattable -->
      <editor
            id="org.eclipse.papyrus.infra.nattable.model.nattable.nattablecell.presentation.NattablecellEditorID"
            name="%_UI_NattablecellEditor_label"
            icon="icons/full/obj16/NattablecellModelFile.gif"
            extensions="nattablecell"
            class="org.eclipse.papyrus.infra.nattable.model.nattable.nattablecell.presentation.NattablecellEditor"
            contributorClass="org.eclipse.papyrus.infra.nattable.model.nattable.nattablecell.presentation.NattablecellActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated nattable -->
      <editor
            id="org.eclipse.papyrus.infra.nattable.model.nattable.nattableproblem.presentation.NattableproblemEditorID"
            name="%_UI_NattableproblemEditor_label"
            icon="icons/full/obj16/NattableproblemModelFile.gif"
            extensions="nattableproblem"
            class="org.eclipse.papyrus.infra.nattable.model.nattable.nattableproblem.presentation.NattableproblemEditor"
            contributorClass="org.eclipse.papyrus.infra.nattable.model.nattable.nattableproblem.presentation.NattableproblemActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated nattable -->
      <editor
            id="org.eclipse.papyrus.infra.nattable.model.nattable.nattablestyle.presentation.NattablestyleEditorID"
            name="%_UI_NattablestyleEditor_label"
            icon="icons/full/obj16/NattablestyleModelFile.gif"
            extensions="nattablestyle"
            class="org.eclipse.papyrus.infra.nattable.model.nattable.nattablestyle.presentation.NattablestyleEditor"
            contributorClass="org.eclipse.papyrus.infra.nattable.model.nattable.nattablestyle.presentation.NattablestyleActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated nattable -->
      <editor
            id="org.eclipse.papyrus.infra.nattable.model.nattable.nattablecelleditor.presentation.NattablecelleditorEditorID"
            name="%_UI_NattablecelleditorEditor_label"
            icon="icons/full/obj16/NattablecelleditorModelFile.gif"
            extensions="nattablecelleditor"
            class="org.eclipse.papyrus.infra.nattable.model.nattable.nattablecelleditor.presentation.NattablecelleditorEditor"
            contributorClass="org.eclipse.papyrus.infra.nattable.model.nattable.nattablecelleditor.presentation.NattablecelleditorActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated nattable -->
      <editor
            id="org.eclipse.papyrus.infra.nattable.model.nattable.nattablewrapper.presentation.NattablewrapperEditorID"
            name="%_UI_NattablewrapperEditor_label"
            icon="icons/full/obj16/NattablewrapperModelFile.gif"
            extensions="nattablewrapper"
            class="org.eclipse.papyrus.infra.nattable.model.nattable.nattablewrapper.presentation.NattablewrapperEditor"
            contributorClass="org.eclipse.papyrus.infra.nattable.model.nattable.nattablewrapper.presentation.NattablewrapperActionBarContributor">
      </editor>
   </extension>
</plugin>
