<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.gmfdiag.common.pasteStrategy">
      <strategy
            strategy="org.eclipse.papyrus.infra.nattable.internal.gmfdiag.strategy.paste.TablePasteStrategy">
      </strategy>
   </extension>
</plugin>
