<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2019, 2021 CEA LIST and others.
 
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License 2.0
  which accompanies this distribution, and is available at
  https://www.eclipse.org/legal/epl-2.0/ 

  SPDX-License-Identifier: EPL-2.0
 
 Contributors:
   Nicolas FAUVERGUE (CEA LIST) nicolas.fauvergue@cea.fr - Initial API and implementation
   Christian W. Damus - bug 573245
 
-->

<plugin>
   <extension
         id="diagnostic"
         name="%marker.name"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.jdt.core.problem">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.eclipse.papyrus.toolsmiths.validation.elementtypes.internal.quickfix.ElementTypesMarkerResolutionGenerator"
            markerType="org.eclipse.papyrus.toolsmiths.validation.elementtypes.diagnostic">
      </markerResolutionGenerator>
   </extension>

</plugin>
