<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.ui.papyrusDiagram">
      <actionBarContributor
            id="org.eclipse.papyrus.infra.textedit.xtext.PapyrusXTextActionBarContributor"
            implementingClass="org.eclipse.papyrus.infra.textedit.xtext.internal.actions.CustomXtextActionBarContributor">
      </actionBarContributor>
   </extension>

</plugin>
