<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="AtomicMigrators" name="Atomic Migrators" schema="schema/AtomicMigrator.exsd"/>

   <extension
         point="org.eclipse.papyrus.uml.tools.profileApplicationDelegates">
      <delegate
            class="org.eclipse.papyrus.toolsmiths.profilemigration.internal.MigratorProfileApplicationDelegate">
      </delegate>
   </extension>


</plugin>
