<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.architecture.models">
      <model
            path="model/uml4metamodels.architecture">
      </model>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.newchild">
      <menuCreationModel
            model="model/uml4metamodels.creationmenumodel">
      </menuCreationModel>
   </extension>

</plugin>
