<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
 Copyright (c) 2022 CEA LIST, Obeo

 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License 2.0
 which accompanies this distribution, and is available at
 https://www.eclipse.org/legal/epl-2.0/
 
 SPDX-License-Identifier: EPL-2.0
 
 Contributors:
    Obeo - Initial API and implementation
 
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated eef-advanced-controls -->
      <package
            uri="http://www.eclipse.org/papyrus/sirius/properties/eef/advanced/controls"
            class="org.eclipse.papyrus.sirius.properties.eef.advanced.controls.eefadvancedcontrols.EefAdvancedControlsPackage"
            genModel="model/eef-advanced-controls.genmodel"/>
   </extension>

</plugin>
