<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?><plugin>
<extension point="org.eclipse.papyrus.infra.nattable.configuration">
      <configuration file="resources/sortedTableAF/SortedTreeTableForTestType.nattableconfiguration" type="SortedTreeTableForTestType"/>
   </extension>
<extension
      point="org.eclipse.papyrus.infra.architecture.models">
   <model
         path="resources/sortedTableAF/customAF.architecture">
   </model>
</extension>
</plugin>
