<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<fragment>
   <extension
         point="org.eclipse.papyrus.infra.core.language">
      <provider>
         <content-type
               id="org.eclipse.emf.ecore">
         </content-type>
         <language
               id="org.eclipse.papyrus.infra.core.tests.language.ecore"
               name="Ecore"
               version="2.11">
         </language>
      </provider>
      <provider>
         <content-type
               id="org.eclipse.emf.codegen.genmodel">
         </content-type>
         <language
               id="org.eclipse.papyrus.infra.core.tests.language.genmodel"
               name="Genmodel"
               version="2.11.0.v20150518-0831">
         </language>
      </provider>
   </extension>

</fragment>
