<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.papyrus.editor.PapyrusMultiDiagramEditor"
            contributorClass="org.eclipse.papyrus.editor.PapyrusActionBarContributor"
            default="true"
            extensions="di"
            icon="icons/papyrus/Papyrus_16x16.gif"
            id="org.eclipse.papyrus.infra.core.papyrusEditor"
            matchingStrategy="org.eclipse.papyrus.editor.PapyrusMatchingStrategy"
            name="Papyrus Editor Core">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="this a category of papyrus commands"
            id="org.eclipse.papyrus.editor.category"
            name="Papyrus Category">
      </category>
      
      <command
            categoryId="org.eclipse.ui.category.navigate"
            id="org.eclipse.papyrus.editor.nextTabCommand"
            name="Next Tab">
      </command>
      <command
            categoryId="org.eclipse.ui.category.navigate"
            id="org.eclipse.papyrus.editor.previousTabCommand"
            name="Previous Tab">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.papyrus.editor.nextTabCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+TAB">
      </key>
      <key
            commandId="org.eclipse.papyrus.editor.previousTabCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+M2+TAB">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.papyrus.editor.handlers.NextTabHandler"
            commandId="org.eclipse.papyrus.editor.nextTabCommand">
         <activeWhen>
         	<with variable="activeEditorId">
         		<equals value="org.eclipse.papyrus.infra.core.papyrusEditor"/>
         	</with>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.papyrus.editor.handlers.PreviousTabHandler"
            commandId="org.eclipse.papyrus.editor.previousTabCommand">
         <activeWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="org.eclipse.papyrus.infra.core.papyrusEditor">
               </equals>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.eclipse.ui.workbench.navigate">
            <command
                  commandId="org.eclipse.papyrus.editor.previousTabCommand"
                  icon="icons/arrow_left.gif"
                  label="Previous Diagram"
                  style="push"
                  tooltip="Previous diagram in active window">
               <visibleWhen>
                  <with
                        variable="activeEditorId">
                     <equals
                           value="org.eclipse.papyrus.infra.core.papyrusEditor">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.papyrus.editor.nextTabCommand"
                  icon="icons/arrow_right.gif"
                  label="Next Diagram"
                  style="push"
                  tooltip="Next diagram in active window">
               <visibleWhen>
                  <with
                        variable="activeEditorId">
                     <equals
                           value="org.eclipse.papyrus.infra.core.papyrusEditor">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
